In [116]:
import pandas as pd

In [117]:
df = pd.read_csv("../data/With_description/cleaned_RC_Book.csv")

df.head()

,Acc. Date,Acc. No.,Title,ISBN,Author/Editor,Ed./Vol.,Place & Publisher,Year,Page(s),Class No./Book No.,book_description,description_source
0,20-01-2017,1,Network design : management and technical pers...,0849334047,"Mann-Rubinson, Teresa C.",NaN,"Boca Raton: CRC Press,",1999.0,405 p.;,004.6 MAN,Network Design outlines the fundamental princi...,NaN
1,08-09-2001,2,Multimedia information analysis and retrieval ...,9783540648260,"Ip, Horace H. S.",NaN,"Berlin: Springer,",1998.0,"viii, 264 p.;",004 IPH,This book constitutes the refereed proceedings...,NaN
2,08-09-2001,3,"Multimedia systems : delivering, generating, a...",1852332484,"Morris, Tim",NaN,"London: Springer,",2000.0,"xi, 191 p.;",006.7 MOR,This book equips readers with the skills to de...,NaN
3,05-09-2001,4,Principles of Data Mining and Knowledge Discovery,9783540410669,"Zytkov, Jan. M.",NaN,"New York: Springer-Verlag,",1999.0,593 p.;,006.3 ZYT,This book constitutes the refereed proceedings...,NaN
4,09-08-2001,5,Focusing solutions for data mining : analytica...,3540664297,"Reinartz, Thomas",NaN,"New York: Springer,",1999.0,"xiv, 307 p.;",006.3 REI,"In the first part, this book analyzes the know...",NaN

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acc. Date           31841 non-null  object
 1   Acc. No.            32012 non-null  int64
 2   Title               32012 non-null  object
 3   ISBN                32012 non-null  object
 4   Author/Editor       31981 non-null  object
 5   Ed./Vol.            3723 non-null   object
 6   Place & Publisher   32012 non-null  object
 7   Year                31846 non-null  float64
 8   Page(s)             32011 non-null  object
 9   Class No./Book No.  32012 non-null  object
 10  book_description    26542 non-null  object
 11  description_source  7330 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.9+ MB

# Add description Source Name

In [119]:
(df['description_source'] != "google_books").sum()

24682

In [120]:
df['description_source'] = df['description_source'].fillna("good library")

In [121]:
df['description_source'].value_counts()

description_source
good library    24682
google_books     7330
Name: count, dtype: int64

# Remove Unncessary column

In [122]:
df.drop(columns=['Ed./Vol.'],inplace=True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acc. Date           31841 non-null  object
 1   Acc. No.            32012 non-null  int64
 2   Title               32012 non-null  object
 3   ISBN                32012 non-null  object
 4   Author/Editor       31981 non-null  object
 5   Place & Publisher   32012 non-null  object
 6   Year                31846 non-null  float64
 7   Page(s)             32011 non-null  object
 8   Class No./Book No.  32012 non-null  object
 9   book_description    26542 non-null  object
 10  description_source  32012 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.7+ MB

In [124]:
df['book_description'].isna().sum()

5470

In [125]:
df['book_description'] = df['book_description'].fillna("Description not Available")

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acc. Date           31841 non-null  object
 1   Acc. No.            32012 non-null  int64
 2   Title               32012 non-null  object
 3   ISBN                32012 non-null  object
 4   Author/Editor       31981 non-null  object
 5   Place & Publisher   32012 non-null  object
 6   Year                31846 non-null  float64
 7   Page(s)             32011 non-null  object
 8   Class No./Book No.  32012 non-null  object
 9   book_description    32012 non-null  object
 10  description_source  32012 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.7+ MB

## Clean Description part(Remove HTML tags , HTML entities)

In [127]:
import html
import re

def clean_description(text):
    if not text or pd.isna(text):
        return None

    text = str(text)

    # 1️⃣ Decode HTML entities (&amp; → &)
    text = html.unescape(text)

    # 2️⃣ Remove HTML tags
    text = re.sub(r"<[^>]+>", " ", text)

    # 3️⃣ Remove leftover HTML entities if any
    text = re.sub(r"&[a-zA-Z]+;", " ", text)

    # 4️⃣ Normalize whitespace
    text = re.sub(r"\s+", " ", text)

    return text.strip()

In [128]:
df['book_description'] = df['book_description'].apply(clean_description)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acc. Date           31841 non-null  object
 1   Acc. No.            32012 non-null  int64
 2   Title               32012 non-null  object
 3   ISBN                32012 non-null  object
 4   Author/Editor       31981 non-null  object
 5   Place & Publisher   32012 non-null  object
 6   Year                31846 non-null  float64
 7   Page(s)             32011 non-null  object
 8   Class No./Book No.  32012 non-null  object
 9   book_description    32012 non-null  object
 10  description_source  32012 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.7+ MB

### Change year column datatype from float to datetime

In [130]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')

### Change Acc.Date column datatype from object to datetime

In [131]:
# df['Acc. Date'] = pd.to_datetime(df['Acc. Date'] , format="%Y-%M-%D" , errors = 'coerce')

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32012 entries, 0 to 32011
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acc. Date           31841 non-null  object
 1   Acc. No.            32012 non-null  int64
 2   Title               32012 non-null  object
 3   ISBN                32012 non-null  object
 4   Author/Editor       31981 non-null  object
 5   Place & Publisher   32012 non-null  object
 6   Year                31844 non-null  datetime64[ns]
 7   Page(s)             32011 non-null  object
 8   Class No./Book No.  32012 non-null  object
 9   book_description    32012 non-null  object
 10  description_source  32012 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 2.7+ MB

### Change the column name

In [143]:
df = df.rename(columns={
    'Author/Editor' : "Author",
    'Clss No./Book No.' : "Class_no",
    'Page(s)' : "pages",
    'Acc. No.' : "Acc_No",
    'Acc. Date' : "Acc_Date",
    "Place & Publisher" : "Place_&_Publisher"
})

In [144]:
df.to_csv("../data/With_description/cleaned_RC_Book.csv")